---
title: Types of user
layout: contentPage.njk
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<h1 class="govuk-heading-xl">Types of user</h1>
<h2 class="govuk-heading-l">Hearing</h2>
<p class="govuk-body">Hearing difficulties can cause or contribute to speech or language delays, difficulties learning and reading, and cause difficulties communicating with others. Without support, hearing difficulties can make an individual's learning difficulties more challenging, and impact on their educational progress and social development.</p>
<p class="govuk-body">Tips to improve web accessibility for the deaf and hard of hearing users</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>provide multiple contact options that don’t rely only on hearing. Offer other means of communication like email, skype, live webchat, or online forms</li>
  <li>add subtitles or captions to video content</li>
  <li>use plain language</li>
  <li>easy navigation</li>
  <li>clear content structure</li>
  <li>add subtitles or captions and summary for video content</li>
</ul>
<h2 class="govuk-heading-l">Vision</h2>
<p class="govuk-body">In the UK, more than 2 million people are living with sight loss. Of these, around 340,000 are registered as blind or partially sighted.</p>
<p class="govuk-body">People who are <a href="https://webaim.org/articles/visual/" class="govuk-link">blind or vision-impaired</a> cannot take full advantage of this mode of communication. For these users, information must be presented in a format which they can more easily perceive, such as audio. <a href="https://webaim.org/articles/visual/blind#screenreaders" class="govuk-link">Screen readers</a> can perform some of this conversion, if the content is designed with accessibility in mind.</p>
<h3 class="govuk-heading-m">Low vision</h3>
<p class="govuk-body">"Low vision" is a broad label for a range of conditions that interfere with daily living and cannot be fully corrected by glasses. Although more common among the elderly, it can occur at any age because of conditions such as macular degeneration, glaucoma, diabetic retinopathy, or cataracts.</p>
<h3 class="govuk-heading-m">Blindness</h3>
<p class="govuk-body">Although most blind people have some vision, it is seldom adequate to interact with web content. A monitor and mouse are essentially useless to a person who is blind.</p>
<h3 class="govuk-heading-m">Colour blindness</h3>
<p class="govuk-body">Colour blindness or colour vision deficiency is the inability to distinguish certain shades of colour. And it makes certain colour combinations difficult to differentiate.</p>
<h2 class="govuk-heading-l">Mobility</h2>
<p class="govuk-body">Motor impairment is the partial or total loss of function of a body part, usually a limb or limbs. This may result in muscle weakness, poor stamina, lack of muscle control, or total paralysis
The key principle of web accessibility for users with motor disabilities is Operable, because not everyone can use a mouse, click on small links, or operate dynamic elements effectively.</p>
<h3 class="govuk-heading-m">Limb loss</h3>
<p class="govuk-body">Someone who can use one hand can use the Internet without too much difficulty, with a one-handed keyboard. Someone who has lost both limbs will use other technologies and devices like head wands, mouth sticks, voice recognition software, etc.</p>
<h3 class="govuk-heading-m">Tremors</h3>
<p class="govuk-body">A tremor is involuntary shaking of particular parts of the body.</p>
<p class="govuk-body">To use the Web, people with physical disabilities often use specialised hardware and software such as:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>Ergonomic or specially designed keyboard or mouse;</li>
  <li>Head pointer, mouth stick, and other aids to help with typing;</li>
  <li>On-screen keyboard with trackball, joysticks, or other pointing devices;</li>
  <li>Switches operated by foot, shoulder, sip-and-puff, or other movements;</li>
  <li>Voice recognition, eye tracking, and other approaches for hands-free interaction.</li>
</ul>
<h2 class="govuk-heading-l">Cognitive</h2>
<h3 class="govuk-heading-m">Cognitive (affecting memory and thinking)</h3>
<p class="govuk-body">Cognitive disability (also known as intellectual disability) is a nebulous term describing a person who has greater difficulty with mental tasks than the average person. Cognitive disabilities are by far the most common type of disability.
Individuals with cognitive or learning disabilities may use a wide variety of technologies to adapt or simplify content to their needs. Text-to-speech, screen readers, customised fonts or page colours, text simplification, and other techniques might be used. Even though such technologies are available, authors must also consider the design of their content to minimise cognitive difficulty.</p>
<h3 class="govuk-heading-m">Dyslexia</h3>
<p class="govuk-body">Dyslexia affects more than six million people.
Attention deficit hyperactivity disorder (ADHD) is a condition that affects people's behaviour. People with ADHD can seem restless, may have trouble concentrating and may act on impulse.</p>
<h3 class="govuk-heading-m">Autism</h3>
<p class="govuk-body">Autism is a lifelong developmental disability that affects how people perceive the world and interact with others.</p>
<p class="govuk-body">Autism is a spectrum condition. All autistic people share certain difficulties, but being autistic will affect them in different ways. Some autistic people also have <a href="https://www.nhs.uk/conditions/learning-disabilities/" class="govuk-link">learning disabilities</a>, <a href="https://www.autism.org.uk/about/health/mental-health.aspx" class="govuk-link">mental health issues</a> or <a href="https://www.nhs.uk/conditions/autism/other-conditions/" class="govuk-link">other conditions</a>, meaning people need different levels of support. All people on the autism spectrum learn and develop. With the right sort of support, all can be helped to live a more fulfilling life of their own choosing.</p>
<h3 class="govuk-heading-m">Dementia</h3>
<p class="govuk-body">Dementia is not a single illness, but a group of symptoms caused by damage to the brain.</p>
<p class="govuk-body">Different types of dementia can affect people differently, and everyone will experience symptoms in their own way.</p>
<p class="govuk-body">However, there are some common early symptoms that may appear some time before a diagnosis of dementia. These include:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li><a href="https://www.nhs.uk/conditions/memory-loss-amnesia/" class="govuk-link">memory loss</a></li>
  <li>difficulty concentrating</li>
  <li>finding it hard to carry out familiar daily tasks, such as getting confused over the correct change when shopping</li>
  <li>struggling to follow a conversation or find the right word</li>
  <li>being confused about time and place</li>
  <li>mood changes</li>
</ul>

  </div>
</div>
