---
title: Check content and usability - How to test for accessibility
layout: contentPage.njk
subnav: how-to-test-for-accessibility
subsubnav: check-content-and-usability
---

<h2 class="govuk-caption-l hmrc-caption-l"><span class="govuk-visually-hidden">This section is </span>Testing your service for accessibility</h2>
<h1 class="govuk-heading-xl">Check content and usability</h1>

<p class="govuk-body-l">This task is to ensure that the service is understandable, simple to use and consistent with the GOV.UK guidance.</p>

<h2 class="govuk-heading-l">System set-up</h2>

<p class="govuk-body">Not applicable.</p>

<h2 class="govuk-heading-l">Testing notes</h2>

<p class="govuk-body">HMRC services should follow:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK Design System</a></li>
  <li><a class="govuk-link" href="https://design.tax.service.gov.uk/hmrc-design-patterns/">HMRC design patterns</a></li>
  <li><a class="govuk-link" href="https://www.gov.uk/guidance/content-design/">GOV.UK Content design: planning, writing and managing content</a>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/">GOV.UK Style guide</a></li>
      <li><a class="govuk-link" href="https://design.tax.service.gov.uk/hmrc-content-style-guide/">HMRC content style guide</a></li>
    </ul>
  </li>
</ul>

<h3 class="govuk-heading-m">What to look for</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>established design components and patterns followed
    <ul class="govuk-list govuk-list--bullet">
      <li>page title matches the level 1 heading and also includes the service name. Each page title should adequately describe and be distinguishable from other pages</li>
      <li>hint copy and error messages conform to the standard messages</li>
    </ul>
  </li>
  <li>usage of microservices, for example, address lookup</li>
  <li>for content
    <ul class="govuk-list govuk-list--bullet">
      <li>structured with headings, paragraphs and lists</li>
      <li>plain English is used</li>
      <li>consistency of terminology used</li>
      <li>cognition load not overloaded, for example, check your answers page follows the user journey steps</li>
    </ul>
  </li>
  <li>the user is informed if selecting a link will open a new window</li>
  <li>any auto-updating content or auto-playing video or audio can be paused, hidden or stopped</li>
  <li>if the service has a session timeout, a timeout dialog allows the user to extend their session</li>
</ul>