---
title: How to test for accessibility
layout: contentPage.njk
---

<h1 class="govuk-heading-xl">How to test for accessibility</h1>

<p class="govuk-body-l">The <a href="#" class="govuk-link">GOV.UK Service Standard</a> requires each service to work with <a href="#" class="govuk-link">a variety of assistive technology before entering Public Beta (GOV.UK Service Manual)</a>, however assistive technology is also only part of accessibility evaluation.</p>

<h1 class="govuk-heading-l">Testing tasks</h2>

<p class="govuk-body">Some of these will reference the common testing methods. These are the tasks which are used for the in-house accessibility audits at HMRC and you can undertake to test your service; so the more tasks a service team can undertake as part of their own testing the more likely the service will pass an audit.</p>

<p class="govuk-body">There are certain things which you will want to look for regardless of which assistive technology you are using - there are certain aspects which are common to all screen reader technology for example. These general principles are covered in this section along with operating system, browser and assistive technology specific instructions.</p>

<p class="govuk-body">As a bare minimum we suggest you perform the generic and display tasks along with at least one screen reader and speech recognition software. There are either built-in or free versions of all of these available for Windows, macOS, Android and iOS.</p>
