---
title: Types of accessibility testing
layout: contentPage.njk
---

<h1 class="govuk-heading-xl">Types of accessibility testing</h1>

<p class="govuk-body-l">Testing can be broken down into a few different types ranging from least time-consuming per round to most.</p>
<p class="govuk-body">These are not exclusive, so your testing process should include all of these types.</p>

<h2 class="govuk-heading-l">Automated testing</h2>

<p class="govuk-body">This is accomplished by using some preset rule system to check code or interface elements against. Because it is not aware of the context and because some criteria cannot be tested in this way, this should not be the only way you test your service. It does however ensure that the most common 30% or so issues should be caught.</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/testing-your-service-for-accessibility/types-of-accessibility-testing/fully-automated-testing.html">Fully-automated testing</a>
  </li>
  <li>
    <a class="govuk-link" href="/testing-your-service-for-accessibility/types-of-accessibility-testing/semi-automated-testing.html">Semi-automated testing</a>
  </li>
</ul>

<h2 class="govuk-heading-l">Manual testing</h2>

<p class="govuk-body">This should be done once one of the automated options has been done and any issues identified from that have been fixed. Otherwise you are using a time-expensive method to find things which could have been found much quicker using other methods.</p>
<p class="govuk-body">Manual testing involves performing several different testing methods, including using some assistive technologies such as screen readers, but also more simple tests like checking what the service looks like when zoomed in or when using colour filters.</p>
<ul class="govuk-list">
  <li>
    <a href="/testing-your-service-for-accessibility/how-to-test-for-accessibility" class="govuk-link">How to test for accessibility</a>
  </li>
  <li>
    <a href="/testing-your-service-for-accessibility/assistive-technology-guides" class="govuk-link">Assistive technology guides</a>
  </li>
</ul>

<h3 class="govuk-heading-m">HMRC accessibility team</h3>
<p class="govuk-body">The accessibility team have good knowledge of various assistive technologies and how they are typically used, as well as other aspects of accessibility and usability and can help test or advise on specific parts of your service.</p>
<p class="govuk-body"><a href="/contact/" class="govuk-link">Contact the HMRC accessibility team [link to our page in site]</a></p>

<h2 class="govuk-heading-l">User testing</h2>

<p class="govuk-body">Once it has been verified to work within the team you can bring in real users of these technologies to include in your normal user testing sessions. The best users you can have to test your service for accessibility are those who would actually use your service in the real world and who also happen to have a disability or use assistive technology.</p>
<p class="govuk-body"><a href="https://www.gov.uk/service-manual/user-research/running-research-sessions-with-people-with-disabilities" class="govuk-link">Running research sessions with disabled people (GOV.UK Service Manual)</a></p>