---
title: Office empathy hub
layout: contentPage.njk
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Office empathy hub</h1>

  </div>
</div>
