<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="https://hmrc.github.io/accessibility-empathy-hub/" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Empathy hubs in the office</h3>
      <p class="govuk-body">HMRC has set up Accessibility Empathy Hubs to demonstrate the barriers that disabled people can face.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="https://personas-prototype.herokuapp.com" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Virtual accessibility personas</h3>
      <p class="govuk-body">Experience the web as personas with access needs.</p>
    </a>
  </div>
</div>
