---
title: Privacy policy
layout: contentPage.njk
---

<h1 class="govuk-heading-xl">Privacy policy</h1>

<p class="govuk-body-l">This privacy notice sets out the personal data that is collected by this website, how we use personal data and for what purposes. You should read the <a href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you" class="govuk-link">HMRC Privacy Notice</a> alongside this privacy notice.</p>

<h2 class="govuk-heading-l">The personal data we hold about you</h2>

<p class="govuk-body">We don’t collect any personal information about you when you use this website unless you contact us by email and you want a reply. We use cookies to anonymously track and analyse users browsing behaviour.</p>

<p class="govuk-body">If you contact us by email and you want a reply, we collect:</p>

<ul class="govuk-list govuk-list--bullet">
<li>questions, queries or feedback you leave</li>
<li>your email address</li>
<li>your name</li>
</ul>

<p class="govuk-body">This data can be viewed by authorised people in HMRC, to:</p>

<ul class="govuk-list govuk-list--bullet">
<li>gather feedback to improve our services</li>
<li>respond to any feedback you send us, if you’ve asked us to</li>
</ul>

<p class="govuk-body">If you open a GitHub issue to contribute to this website, you should familiarise yourself with the <a  class="govuk-link" href="https://github.com/site/privacy">GitHub Privacy policy</a>.</p>

<h2 class="govuk-heading-l">The legal basis for using your data</h2>

<p class="govuk-body">The legal basis for processing your personal data is:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>for collecting feedback: on a ‘public task’ basis, as laid out in <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/public-task/" class="govuk-link">UK GDPR Article 6(1)(e)</a>.</li>
</ul>

<h2 class="govuk-heading-l">Transfer of information outside the UK</h2>

<p class="govuk-body">As anonymised usage data for this website is shared with our web analytics provider, it may be transferred and stored securely outside the UK.</p>

<p class="govuk-body">When we do so, we’ll make sure that we’ll meet our obligations under the UK GDPR and DPA 2018.</p>

<h2 class="govuk-heading-l">Data security</h2>

<p class="govuk-body">We have put in place measures to protect the security of your information.</p>

<p class="govuk-body">We treat the security of your data very seriously. We have strict security standards, and all our staff and other people who process personal data on our behalf get regular training about how to keep information safe.</p>

<p class="govuk-body">We have put in place appropriate technical, physical and managerial procedures to safeguard and secure the information we collect about you.</p>

<p class="govuk-body">In addition, we limit access to your personal information to those persons, or agents who have a business or legal need to do so.</p>

<p class="govuk-body">We have taken measures to make sure an adequate level of security for personal information processed via our website.</p>

<p class="govuk-body">We have put in place procedures to deal with any suspected data security breach and will notify you and the regulator of a suspected breach where we are legally required to do so.</p>

<h2 class="govuk-heading-l">Data retention</h2>

<h3 class="govuk-heading-m">How long we’ll use your information</h3>

<p class="govuk-body">We will only retain your personal information for only as long as it is necessary for us to do so for the purposes for which we are using it and in line with our published&nbsp;<a href="https://www.gov.uk/government/publications/hmrc-records-management-and-retention-and-disposal-policy" class="govuk-link">records management and retention and disposal policy</a>.</p>

<p class="govuk-body">If you supply personal information in order to request a response to feedback or queries submitted about this website, then your personal information will be stored only as long as is required to respond successfully to the query, after which time it will be deleted.</p>

<p class="govuk-body">In some circumstances we’ll anonymise your personal information so that it can no longer be associated with you, in which case we will use such information without further notice to you.</p>

<h2 class="govuk-heading-l">Rights of access, correction, erasure, and restriction</h2>

<p class="govuk-body">You have a number of <a href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you#rights" class="govuk-link">rights</a>&nbsp;in relation to the processing of your personal information by HMRC.</p>

<h2 class="govuk-heading-l">Contact HMRC or make a complaint</h2>

<p class="govuk-body">You <a class="govuk-link" href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you#contact-dpo" class="govuk-link">can contact</a> us if you have questions about this privacy notice or want to make a complaint.</p>

<p class="govuk-body">If you want to request a copy of your personal data follow HMRC’s&nbsp;subject access <a href="https://www.gov.uk/guidance/hmrc-subject-access-request" class="govuk-link">request guidance</a>.</p>

<h2 class="govuk-heading-l">Changes to the privacy notice</h2>

<p class="govuk-body">We keep our privacy notices under regular review. If there are any changes we will update this page to tell you, for example, about any new uses of personal data.</p>

<p class="govuk-body">Check this page to make sure you are aware of what information we collect, how we use it and the circumstances we may share it with other organisations.</p>





