---
title: Assistive technology
layout: contentPage.njk
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Assistive technology</h1>
    <p class="govuk-body">‘Assistive technology’ is often used to describe products or systems that support and assist individuals with disabilities, restricted mobility or other impairments to perform functions that might otherwise be difficult or impossible.</p>

    <h2 class="govuk-heading-l">Who uses assistive technology?</h2>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>People who are blind would rely on screen readers to read out loud what is on the screen. And people with sight impairments may also use screen readers and screen magnification software.</li>
      <li>People with motor disabilities may not be able to use the mouse and/or keyboard.</li>
      <li>People with auditory disabilities rely on captions or sign language.</li>
      <li>People with cognitive disabilities, such as dyslexia, may use various assistive technologies to help with reading, spelling, communication and help with remembering and processing information.</li>
    </ul>


    <h2 class="govuk-heading-l">Screen readers</h2>
    <p class="govuk-body">A screen reader read out what is on the screen and allows people to navigate through websites and applications via text-to-speech or Braille output.</p>
    <p class="govuk-body">It is essential to people who are blind and valuable to those who are visually impaired, has low literacy skills, or have a learning disability.</p>

    <h2 class="govuk-heading-l">Screen magnifiers</h2>
    <p class="govuk-body">Screen magnifiers enlarge the contents of the page.</p>
    <p class="govuk-body">For people with impaired vision but still have some sight, a screen magnifier can help to access and interact with digital content.</p>

    <h2 class="govuk-heading-l">Speech recognition</h2>
    <p class="govuk-body">Speech recognition software is assistive technology that can interpret vocal commands, allowing the user to operate devices without using mouse, keyboard or gesture.</p>
    <p class="govuk-body">It allows people to dictate text in a form field and navigate to and activate links, buttons, and other controls.</p>

    <h2 class="govuk-heading-l">Eye tracking</h2>
    <p class="govuk-body">Eye-tracking devices can be a powerful alternative for individuals with limited or no control over hand movements. The device allows the person to navigate through the web with only eye movements.</p>

    <h2 class="govuk-heading-l">Single-switch access</h2>
    <p class="govuk-body">People with limited mobility use this type of device. If a person can move only the head, for example, a switch could be placed on the side of the head, allowing the person to click it with head movements.</p>
    <p class="govuk-body">The clicks are interpreted by software on the computer, allowing the user to navigate through the operating system, web pages, and other environments. Some software facilitates word processing by using an auto-complete feature that tries to guess what the person is typing and allows the person to choose between the words it guesses.</p>

    <h2 class="govuk-heading-l">Sip and puff switch</h2>
    <p class="govuk-body">Similar in functionality to the single switch, sip and puff switches can interpret the user's breath actions as on/off signals and be used for various purposes, from controlling a wheelchair to navigating a computer. </p>

    <h2 class="govuk-heading-l">Trackball mouse</h2>
    <p class="govuk-body">A trackball mouse is not necessarily an assistive technology. Some people without disabilities prefer it to the standard mouse, but it is often easier for a person with a motor disability to operate than a standard mouse. Someone may, for example, use a trackball mouse with a head wand or mouth stick. It is relatively easy to manipulate a trackball with these devices compared to a standard mouse.</p>
    <p class="govuk-body">Users with hand tremors may prefer this kind of mouse because once they move the cursor to the desired location, there is less danger of accidentally moving the cursor while trying to click the mouse button. A person could also manipulate a trackball mouse with a foot if desired.</p>

    <h2 class="govuk-heading-l">Adaptive keyboard</h2>
    <p class="govuk-body">If a person cannot make precise movements with the hands, an adaptive keyboard can be useful. Some have raised areas in between the keys, rather than lowered areas, so the person can first place the hand down on the keyboard and then slide the finger into the correct key. A person with tremors, or spastic movements could benefit from this type of keyboard.</p>




  </div>
</div>
