---
title: Testing your service for accessibility
layout: hubPage.njk
---

<h1 class="govuk-heading-xl">Testing your service for accessibility</h1>

<p class="govuk-body-l">You should test your services to ensure they can be used easily by people with a range of conditions and disabilities.</p>
<p class="govuk-body">You will also need to check your service is compliant with the legal obligations which websites delivered by the government are subject to. Compliance with accessibility legislation is checked against <a href="/accessibility-and-the-law/what-is-wcag" class="govuk-link">WCAG (Web Content Accessibility Guidelines) requirements and techniques [link to our page in site]</a>.</p>
<p class="govuk-body">Some issues can be found using automated tools, as well as manual testing with a range of assistive technology, but others require someone to make an informed decision based on the intended purpose and context of the page.</p>

{% include './testing-your-service-for-accessibility/_sections.njk' %}
