.app-card {
  text-decoration: none;
  background-color: govuk-colour("light-grey");
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  @include govuk-media-query(desktop) {
    min-height: 150px;
  }
}

.app-card__heading {
  color: $govuk-brand-colour;
}

.app-card:hover,
.app-card:focus {
  background-color: $govuk-brand-colour;
  color: white;
  outline: none;
  
  & > * {
    color: inherit;
  }
}
