---
title: Assistive technology guides
layout: contentPage.njk
---

<h1 class="govuk-heading-xl">Assistive technology guides</h1>

<p class="govuk-body-l">These step-by-step guides will take you from first look to becoming comfortable with using different assistive technology.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="/testing-your-service-for-accessibility/assistive-technology-guides/jaws" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">JAWS on Windows</h3>
      <p class="govuk-body">How to use commercial JAWS screen reader on Windows</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/testing-your-service-for-accessibility/assistive-technology-guides/nvda" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">NVDA on Windows</h3>
      <p class="govuk-body">How to use the free NVDA screen reader on Windows</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/testing-your-service-for-accessibility/assistive-technology-guides/voiceover" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">VoiceOver on Mac</h3>
      <p class="govuk-body">How to use VoiceOver screen reader which is built into macOS</p>
    </a>
  </div>
</div>
