---
title: JAWS
layout: contentPage.njk
---

<h1 class="govuk-heading-xl">JAWS</h1>

<p class="govuk-body-l">This guide will help you learn the basics of JAWS and some tips on how to test a service using it.</p>

<p class="govuk-body">JAWS is only available on Windows.</p>
<p class="govuk-body">As JAWS is an operating system level screen reading application, it means that it can be used for pretty much anything on the computer. That also means you can move away from the web page and into the address bar.</p>
<p class="govuk-body">If you get lost just use your mouse to click back onto the browser. We are testing the websites, not your ability with the screen‐reader.</p>

<h2 class="govuk-heading-l">Installing JAWS</h2>
<p class="govuk-body">As JAWS is not built into the OS like Voiceover or Narrator, you will need to install it.</p>
<p class="govuk-body">JAWS is a commercial product. If you don't have a license then you can still <a href="https://support.freedomscientific.com/Downloads/JAWS">download a demo version</a>. This is full‐featured but will time out after 40 minutes and will require a computer restart before you start using it each time.</p>
<p class="govuk-body">Install the latest version (currently this is JAWS 2020). If you are testing a new component it is worth also downloading a slightly older version (we suggest JAWS 18) as like browsers there are differences in releases and because of the expensive cost of the software users might not upgrade immediately.</p>

<h2 class="govuk-heading-l">Browser choice</h2>
<p class="govuk-body">Screen readers tend to work best with specific browsers. In the case of JAWS it is best to test with <strong>Chrome</strong> or <strong>IE11</strong>. We recommend using Chrome primarily but checking any issues you find in IE11 too.</p>

<h2 class="govuk-heading-l">How to start JAWS</h2>
<p class="govuk-body">You start JAWS just like any other program in Windows.</p>
<p class="govuk-body">When you start JAWS a small window will appear which will look like this:</p>
<img src="/public/images/jaws/panel.png" alt="JAWS window" />
<p class="govuk-body">This window allows you to access the various settings for JAWS. We recommend you leave them as the defaults. This makes it easier to be consistent with testing.</p>

<p class="govuk-body">If you click on anything now with the mouse, JAWS will announce what it is, and this will be the same for anything in the operating system as JAWS is an OS‐level screen‐reader. You shouldn't be using your mouse when testing however.</p>
<p class="govuk-body">For now, let's just go to the next section using your normal mouse or keyboard but leaving JAWS on.</p>

<a href="/jaws/basic-navigation" role="button" class="govuk-button">Next, basic navigation</a>
