---
title: When to test for accessibility
layout: contentPage.njk
subnav: when-to-test-for-accessibility
---

<h2 class="govuk-caption-l hmrc-caption-l"><span class="govuk-visually-hidden">This section is </span>Testing your service for accessibility</h2>
<h1 class="govuk-heading-xl">When to test for accessibility</h1>

<p class="govuk-body-l">You should not leave testing until the service is ready to build and facing an accessibility audit.</p>
<p class="govuk-body">By considering and checking accessibility from the start and through prototyping, you reduce the potential for expensive accessibility debt building up.</p>

<h2 class="govuk-heading-l">Prototype testing</h2>

<p class="govuk-body">Communicating with a broad range of users from the start will mean requirements and any issues with content, design and process can be captured early on when they can be more easily modified. It is essential that the users we engage with during the research carried out represent the general public and so this needs to include those with a range of conditions and disabilities.</p>
<p class="govuk-body"><a href="https://www.gov.uk/service-manual/user-research/find-user-research-participants" class="govuk-link">Finding participants for user research (GOV.UK Service Manual)</a></p>

<h2 class="govuk-heading-l">Development phase testing</h2>

<p class="govuk-body">Once your service is being coded for production then you should be carrying out accessibility testing as an ongoing task. You can also start testing internally with assistive technologies such as screen readers and speech recognition software.</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/testing-your-service-for-accessibility/types-of-accessibility-testing">Types of accessibility testing</a>
  </li>
  <li>
    <a class="govuk-link" href="/testing-your-service-for-accessibility/how-to-test-for-accessibility">How to test for accessibility</a>
  </li>
</ul>

<h2 class="govuk-heading-l">The accessibility audit</h2>

<p class="govuk-body">Before your HMRC service is made available to the public, you will need to have an accessibility audit to officially test your service and publish an accessibility statement. Most issues should have been picked up and fixed before the audit in the course of day-to-day testing during development.</p>
<p class="govuk-body"><a href="/accessibility-audits/audit-process" class="govuk-link">The audit process [link to our page in site]</a></p>