<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="/testing-your-service/how-to-test-your-service" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">How to test your service</h3>
      <p class="govuk-body">Short description about this section to help users understand the contents at a glance.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/testing-your-service/accessibility-audits" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Accessibility audits</h3>
      <p class="govuk-body">Short description about this section to help users understand the contents at a glance.</p>
    </a>
  </div>
</div>
