<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <a href="/basics-of-accessibility/levels-of-impact" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Levels of impact</h3>
      <p class="govuk-body">Short description about this section to help users understand the contents at a glance.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/basics-of-accessibility/types-of-user" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Types of user</h3>
      <p class="govuk-body">Short description about this section to help users understand the contents at a glance.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/basics-of-accessibility/assistive-technology" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Assistive technology</h3>
      <p class="govuk-body">Short description about this section to help users understand the contents at a glance.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/basics-of-accessibility/accessibility-exercises" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Accessibility exercises</h3>
      <p class="govuk-body">Short description about this section to help users understand the contents at a glance.</p>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="/basics-of-accessibility/checklist-and-practical-tips" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Checklist and practical tips</h3>
      <p class="govuk-body">Short description about this section to help users understand the contents at a glance.</p>
    </a>
  </div>
</div>
