---
title: Issue details
layout: contentPage.njk
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-xl" id="issue-heading">
      <span class="govuk-caption-l">[WCAG criteria]</span>
      [Issue title]
    </h1>
    
    <p id="page-intro" class="govuk-!-margin-bottom-8">The different causes of failure for the <span>[name]</span> <span>[component]</span> identified in <span id="quarterDetails"></span>.</p>
    <ol id="issue-list" class="govuk-list govuk-list--bullet"></ol>
    
  </div>
</div>

<script src="/assets/javascripts/stats/chart.min.js"></script>
<script src="/assets/javascripts/stats/common.js"></script>
<script src="/assets/javascripts/stats/issue-details.js"></script>
