---
title: Home
layout: hubPage.njk
---

<h1 class="govuk-heading-xl">Accessibility in HMRC</h1>

<h2 class="govuk-heading-m">Basics of accessibility</h2>

{% include './basics-of-accessibility/_sections.njk' %}

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-m">Accessibility and the law</h2>

{% include './accessibility-and-the-law/_sections.njk' %}
  
<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-m">Empathy Hub</h2>

{% include './empathy-hub/_sections.njk' %}

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<h2 class="govuk-heading-m">Testing your service for accessibility</h2>

{% include './testing-your-service/_sections.njk' %}
