---
title: Sitemap
layout: hubPage.njk
---

<h1 class="govuk-heading-xl">Sitemap</h1>

{# Basics of accessibility #}

<h2 class="govuk-heading-l">Basics of accessibility</h2>

<ul class="govuk-list">
  <li>
    <a href="/basics-of-accessibility/levels-of-impact" class="govuk-link">Levels of impact</a>
  </li>
  <li>
    <a href="/basics-of-accessibility/types-of-user" class="govuk-link">Types of user</a>
  </li>
  <li>
    <a href="/basics-of-accessibility/assistive-technology" class="govuk-link">Assistive technology</a>
  </li>
  <li>
    <a href="/basics-of-accessibility/accessibility-exercises" class="govuk-link">Accessibility exercises</a>
  </li>
  <li>
    <a href="/basics-of-accessibility/checklist-and-practical-tips" class="govuk-link">Checklist and practical tips</a>
  </li>
</ul>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

{# Accessibility and the law #}

<h2 class="govuk-heading-l">Accessibility and the law</h2>

<ul class="govuk-list">
  <li>
    <a href="/accessibility-and-the-law" class="govuk-link">Topics not yet defined</a>
  </li>
</ul>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

{# Empathy Hub #}

<h2 class="govuk-heading-l">Empathy Hub</h2>

<ul class="govuk-list">
  <li>
    <a href="https://hmrc.github.io/accessibility-empathy-hub/" class="govuk-link">Empathy hubs in the office</a>
  </li>
  <li>
    <a href="https://accessibility-personas.herokuapp.com" class="govuk-link">Virtual accessibility personas</a>
  </li>
</ul>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

{# Testing your service for accessibility #}

<h2 class="govuk-heading-l"><a href="/testing-your-service-for-accessibility" class="govuk-link">Testing your service for accessibility</a></h2>

<ul class="govuk-list">
  <li>
    <a href="/testing-your-service-for-accessibility/when-to-test-for-accessibility" class="govuk-link">When to test for accessibility</a>
  </li>
  <li>
    <a href="/testing-your-service-for-accessibility/types-of-accessibility-testing" class="govuk-link">Types of accessibility testing</a>
  </li>
  <li>
    <a href="/testing-your-service-for-accessibility/how-to-test-for-accessibility" class="govuk-link">How to test for accessibility</a>
  </li>
  <li>
    <a href="/testing-your-service-for-accessibility/assistive-technology-guides" class="govuk-link">Assistive technology guides</a>
  </li>
</ul>

{# Accessibility audits #}

<h2 class="govuk-heading-l">Accessibility audits</h2>

<ul class="govuk-list">
  <li>
    <a href="/accessibility-audits" class="govuk-link">Topics not yet defined</a>
  </li>
</ul>
